body {
    font-family: 'FontAwesome','JetBrains Mono', monospace;
    margin: 50px;
}

.jumbotron {
    background-image: url("../assets/background/back2.png");
    margin-bottom: 50px;
}

#logo {
    width: 50%;
    height: 50%;
}

#search-bar {
    margin-left: 10px;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.filter {
    display: block;
    padding: 15px;
    cursor: pointer;
    letter-spacing: 5px;
    margin: 0;
    font-weight: 600;
    display: flex;
}

.font-weight {
    font-weight: 500;
}
 
.expand {
    display: inline;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-top: 2px;
}

.drop {
    color: inherit;
    text-decoration: none;
    margin-top: 5px;
    letter-spacing: 5px;
    font-weight: 200;
}

.container {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
}

span {
    margin-left: 15px;
    display: inline-block;
}

.drop:hover {
    text-decoration: none;
    color: inherit;
}

.submit {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #F0FF00;
    border: 3px solid #020202;
    letter-spacing: 5px;
    font-weight: 600;
    border-radius: 10px;
}

.shoe{
    margin: 0 40px 40px 70px;
} 

.shoe-pic {
    width: 15rem;
    height: 15rem;
}

.col-xl-3 {
   padding-left: 30px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1199px) {

    .submit {
        width: 30%;
        margin-left: 10px;
    }

    .col-xl-4 {
        padding-left: 75px;
        padding-top: 20px;
    }

}


@media screen and (max-width: 1024px) {

    .col-xl-4 {
        margin: 0px;
    }
}



@media screen and (max-width: 992px) {

    .col-lg-4 {
        margin: 20px;
     }

}

@media screen and (max-width: 768px) {

    .col-lg-4 {
        width: 10%;
        margin: 20px;
     }
 

}




@media screen and (max-width: 540px) {

    #search-bar {
        width: 75%
    }

    .shoe {
        margin-left: 25px;
    }

}




@media screen and (max-width: 360px) {
 
    .shoe {
        margin-left: 15px;
    }
}



@media screen and (max-width: 320px) {

    .jumbotron {
        width: 100%
    }

    #search-bar {
        width: 50%
    }

    .shoe {
        margin-left: 10px;
    }
}

