body {
    margin: 100px;
    font-family: 'JetBrains Mono', monospace;
}

.filter {
    display: block;
    padding: 15px;
    cursor: pointer;
    letter-spacing: 5px;
    margin: 0;
    font-weight: 600;
}

#font-weight {
    font-weight: 500;
}
 
.expand {
    display: inline;
}

.drop {
    color: inherit;
    text-decoration: none;
    margin-top: 5px;
    letter-spacing: 5px;
    font-weight: 200;
}

.container {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
}

span {
    margin-left: 15px;
    display: inline-block;
}

.drop:hover {
    text-decoration: none;
    color: inherit;
}